.body {
    margin: 0 auto;
}

h1 {
padding-top: 80px;
padding-left: 500px;
}

main-container {
    width: 100%;
    background-color: red;
}

.fond-mario {
    position: relative;
    padding-top: 60px;
    padding-left: 300px;
    size-adjust: 40%;
    z-index: 0;
}

#mario1 {
    position: absolute;
    width: 100px;
    left: 300px;
    bottom: 110px;
    z-index: 1;
}

#mario2 {
    position: absolute;
    width: 100px;
    left: 320px;
    bottom: 120px;
    z-index: 2;
}
